@model JitneyRideRequest.Models.RideRequestViewModels.IndexViewModel

<style>

    /* Optional: Makes the sample page fill the window. */
    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
    }

   
    table{
       padding: 1%;
    }
   

    .queue{
        margin: 5%;
    }

    btn {
        float: right;
        width: 100%;

    }

    .removepadding{
        margin: 0 !important;
        padding: 0 !important;
    }

    .btns {
        background-color: #00359F;
        color: white;
        width: 100%;
    }

 


</style>



<div class="row  ">

    <div class="col-9 room ">
        <div id="map">
        </div>
    </div>

    <div class="col-3 removepadding" >
      
        @foreach (RideRequest ride in ViewBag.RideQueue)
        {
            <form>
                <input type="hidden" class="lat" value="@ride.RiderOrgLat" />
                <input type="hidden" class="lng" value="@ride.RiderOrgLong" />
            </form>
            

            <div class="card" style="width: 20rem;">
               
                <ul class="list-group list-group-flush">
                   
                   <li class="list-group-item"> <h3>@ride.RequestTime  <br /></h3> 
                    <br />
                    
                    <br />
                     
                       <form method="post" action="/RideRequest/CancelRider?rideID=@ride.ID">
                           <input type="submit" value="Cancel" id="cancel" class=" card-link btn btn-sm btn-danger " />
                       </form>
                    <br />
                       <button  id="btnaddmarker"  > Add Maker</button>
                               
                   
                    </li>
                         

                    <li class="list-group-item"><b>Origin:</b> @ride.RiderOrgLoc</li>
                    <li class="list-group-item"><b>Seats: </b>  @ride.SeatNeeded</li>
                    <li class="list-group-item"><b>Destination:</b> @ride.RiderDestLoc</li>
                </ul>
                <div class="card-block">
                    <table>
                        <tr>
                            <td>
                                <form method="post" action="/RideRequest/NextRider?rideID=@ride.ID">
                                    <input type ="hidden" value="" asp-for="NextRiderViewModel.DriverLat" id="driverlat" />
                                    <input type="hidden" value="" asp-for="NextRiderViewModel.DriverLong" id="driverlong" />
                                    <input type="submit" value="Next Rider" id="next" class=" card-link  btns btn btn-group-sm " />
                                </form>
                            </td>
                            <td> 
                                <form method="post" action="/RideRequest/PickedUpRider?rideID=@ride.ID">
                                    <input type="submit" value="Picked Up" id="pickedup" class=" card-link  btns btn btn-group-sm " />
                                </form>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <form method="post" action="/RideRequest/DroppingOffRider?rideID=@ride.ID">
                                    <input type="submit" value="Dropping Off" id="droppingoff" class="card-link btns btn btn-group-sm " />
                                </form>
                        
                            </td>
                            <td>
                                <form method="post" action="/RideRequest/DroppedOff?rideID=@ride.ID">
                                    <input type="submit" value="Dropped Off" id="droppedoff" class="card-link  btns btn btn-group-sm " />
                                </form>
                            </td>

                        </tr>
                       
                    </table>
               
                   
                   
                    
                   
                </div>
            </div>
            <br />


        }
    </div>
    </div>

  





    <script>
      function initMap() {
          var waterville = { lat: 44.5520, lng: -69.6317 };

          var map;
        

        map = new google.maps.Map(document.getElementById('map'), {
          center: waterville,
          zoom: 15
          });

        infoWindow = new google.maps.InfoWindow;

        // Try HTML5 geolocation.
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function (position) {
                var pos = {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude
                };


                document.getElementById('driverlat').value = pos.lat;
                document.getElementById('driverlong').value = pos.lng;


               // infoWindow.setPosition(pos);
               // infoWindow.setContent('Location found.');
               // infoWindow.open(map);
                //map.setCenter(pos);
            }, function () {
                handleLocationError(true, infoWindow, map.getCenter());
            });
        } else {
            // Browser doesn't support Geolocation
            handleLocationError(false, infoWindow, map.getCenter());
        }
        }

        function handleLocationError(browserHasGeolocation, infoWindow, pos) {
            infoWindow.setPosition(pos);
            infoWindow.setContent(browserHasGeolocation ?
                'Error: The Geolocation service failed.' :
                'Error: Your browser doesn\'t support geolocation.');
            //infoWindow.open(map);
        }

        // Create a marker and set its position.

        var latlng = new google.maps.LatLng(parseFloat(getElementById('lat')), parseFloat(getElementById('long')));

        function addmarker(latilongi) {
            var marker = new google.maps.Marker({
                position: latilongi,
                title: 'new marker',
                draggable: true,
                map: map
            });
            map.setCenter(marker.getPosition())
        }

        $('#btnaddmarker').on('click', function () {
            addmarker(latlng)
        })
       

       
        
       
      

    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCB2JmerOze8qldZJlVzpg9huA_3Rfxb0A&callback=initMap"
            async defer></script>

<script>
    $('.container-fluid').addClass('removepadding');
</script>
